.advertising {
    &__title {
        color: $text-blue;
    }
    &__img {
        width: 100%;
        margin-bottom: 24px;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
        color: #393A56;
    }
    &__name-item {
        margin-bottom: 16px;
    }
    &__text {
        max-height: 140px;
        margin-bottom: 6px;
        overflow: hidden;

        transition: all 1s ease-in 0s;
        &-less {
            max-height: 118px;
        }
    }
    &__paragraph:not(:last-child) {
        margin-bottom: 16px;
    }
    &__btn {
        text-decoration-line: underline;

        font-weight: 600;
        background: transparent;
        color: $blue;
    }
}

@media screen and (min-width: 1024px) {
    .advertising__item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        &-right {
            flex-direction: row-reverse;
        }
        &-right .advertising__img {
            margin: 0 0 0 20px;
        }
        & .advertising__img {
            margin: 0 20px 0 0;
        }
    }
    .advertising__img {
        min-width: 542px;
        img {
            width: 100%;
        }
    }
    .advertising__text {
        max-height: 500px;
        min-width: 382px;
    }
    .advertising__btn {
        display: none;
    }
}

@media screen and (min-width: 1920px) { 
    .advertising__item {
        &:not(:last-child) {
            margin-bottom: 80px;
        }
        &-right .advertising__img {
            // margin-left: 41px;
            margin: 0 0 0 41px;
        }
        & .advertising__img {
            // margin-right: 41px;
            margin: 0 41px 0 0;
        }
    }
    .advertising__img {
        min-width: 799px;
    }
    .advertising__text {
        min-width: 560px;
    }
}