.advertising {
    padding: 40px 16px;
    &__title {
        color: $text-blue;
    }
    &__img {
        width: 100%;
        margin-bottom: 24px;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
        color: #393A56;
    }
    &__name-item {
        margin-bottom: 16px;
    }
    &__text {
        max-height: 140px;
        margin-bottom: 6px;
        overflow: hidden;

        transition: all 1s ease-in 0s;
        &-less {
            max-height: 118px;
        }
    }
    &__paragraph:not(:last-child) {
        margin-bottom: 16px;
    }
    &__btn {
        text-decoration-line: underline;

        font-weight: 600;
        background: transparent;
        color: $blue;
    }
}

@media screen and (min-width: 1024px) {
    .advertising {
        padding: 60px 40px;
        &__item {
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 50px;
            }
            &-right {
                flex-direction: row-reverse;
            }
            &-right .advertising__text {
                margin-right: 20px;
            }
            & .advertising__img {
                margin-right: 20px;
            }
        }
        &__img {
            width: 542px;
            img {
                width: 100%;
            }
        }
        &__text {
            max-height: 500px;
            width: 382px;
        }
        &__btn {
            display: none;
        }
    }
}