.introduction {
    padding: 40px $indents;

    background: url(../source/img/main_background.jpg) center/cover no-repeat;
    &__img {
        width: 100%;
        margin-bottom: 20px;
    }
    &__title {
        margin-bottom: 20px;
        color: $text-blue;
    }
    &__block {
        margin-bottom: 20px;
        padding: 16px;

        border: 1px solid #C1D3DE;
        border-radius: 12px;
        box-sizing: border-box;

        background: rgba(251, 247, 241, 1);
    }
    &__text{
        font-family: Roboto;
        line-height: 26px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
.block {
    &__text:not(:last-child) {
        margin-bottom: 18px;
    }
}

@media screen and (min-device-width: 1024px) {

    .introduction {
        padding: 60px 40px;
        background: url(../source/img/main_backgound-1024.jpg) center;
        &__title {
            margin-bottom: 24px;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &__block {
            display: grid;
            grid-template-columns: 20% 80%;
            margin-bottom: 24px;
        }
    }
    
}