.results {
    padding: 40px 16px;
    background: url(../source/img/main_background.jpg) center/cover no-repeat;
    &__title {
        color: $text-blue;
    }
    &__result {
        display: flex;
        position: relative;
        align-items: center;
        min-height: 48px;
        padding-left: 56px;

        font-weight: 700;
        color: $text-dark;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &::after {
            content: "";
            position: absolute;
            width: 48px;
            height: 48px;
            left: 0;
            top: 0;
            background: url(../source/img/result/icon.svg) center/cover;
        }
    }
}
@media screen and (min-device-width: 1024px) {
    .results {
        padding: 60px 40px;
        background-image: url(../source/img/main_backgound-1024.jpg);
        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
        }
        &__result {
            padding-left: 80px;
            &:not(:last-child) {
                margin-bottom: 40px;
            }
            &:nth-last-child(2) {
                margin: 0;
            }
            &::after {
                width: 60px;
                height: 60px;
            }
        }
    }
}