.stages {
    background: #fff;
    color: $text-dark;
    &__title {
        color: $text-blue;
    }
}
@media screen and (min-device-width: 1024px) {
    .stages {
        .swiper-slide:not(:nth-last-child(-n + 3)) {
            margin-bottom: 40px;
        }
    }    
    .stages__slider {
        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-device-width: 1920px) {
    .stages {
        .swiper-slide:not(:nth-last-child(-n + 3)) {
            margin-bottom: 60px;
        }
    }  
}