.targets {
    padding: 40px 16px;
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 32px;
    }
    &__icon {
        margin-left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 20px;
    }
    &__item-title {
        text-align: center;
        font-weight: 700;
    }
}