@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');
}
@font-face {
    font-family: 'Marko One', serif;
    src: url('https://fonts.googleapis.com/css2?family==Marko+One&display=swap');
}
@font-face {
    font-family: 'mr Kindly JasmineG';
    src: url('fonts/mr_KindlyJasmineG.otf');
}