// colors
$white: #ffffff;
$black: #282828;
$blue: #0499DD;
$gray2: #EDEDED;
$blue-gradient: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
$yellow: #FFC700;

// font weight
$weight-regular: 500;
$weight-bold: 700;
$weight-black: 900;

// display
$tablet: 768px;
$desktop: 1440px;