.base-button {
    padding: 16px 52px;
    border-radius: 60px;
    font-size: 14px;
    line-height: 17px;
    font-weight: $weight-bold;
    color: $white;
    background: $blue-gradient;
}

.base-button--small {
    padding: 12px 43px 13px;
    font-size: 12px;
    line-height: 15px;
}

.base-button--with-arrow {
    width: 230px;
    height: 50px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 52px;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 7.5px;
        background: url('images/icons/icon-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}