.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    transition: all 0.5s ease-in-out 0s;

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 27px;
        transition: all 0.5s;
    }

    &__logo {
        transition: all 0.3s;
    }

    &__navigation {
        font-family: 'Montserrat';
        font-size: calc(14px + (1 / 74.667) * (100vw - 320px));
        font-weight: $weight-regular;
        line-height: 17px;
        text-align: right;
        color: $white;
    }

    &__list {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 0;
        padding-top: 113.4px;
        transition: all 0.3s ease;
    }

    &__list-item {
        position: relative;
        right: -100%;
        margin-bottom: 20px;
        transition: right 0.35s ease 0s;

        &:nth-child(2) {
            transition: right 0.35s ease 0.05s;
        }
        &:nth-child(3) {
            transition: right 0.35s ease 0.1s;
        }
    }

    &__link {
        display: block;
    }

    &__button {
        position: relative;
        width: calc(32px + (1 / 13.5) * (100vw - 320px));
        max-width: 40px;
        height: 40px;
    }

    &__button span {
        position: absolute;
        top: 17px;
        width: 100%;
        height: 5px;
        border-radius: 10px;
        background: $white;
        transition: all 0.2s ease 0s;

        &:first-child {
            top: 7px;
            transform: none;
        }

        &:last-child {
            top: 27px;
            transform: none;
        }
    }
}

body.menu-active {
    overflow-y: hidden;

    .header__button span {
        transform: scale(0,  0) rotate(180deg);

        &:first-child {
            top: 50%;
            transform: rotate(45deg);
        }

        &:last-child {
            top: 50%;
            transform: rotate(-45deg);
        }
    }

    .header__list {
        right: 0;
        height: calc(100vh - 113.4px);
        background: rgba($color: $black, $alpha: 0.8);
    }

    .header__list-item {
        right: 24px;
    }

    .header--background .header__list {
        top: -10px;
        right: -24px;
    }
}

.header--background {
    width: calc(100vw - 48px);
    margin: 10px 24px 0;
    border-radius: 10px;
    background: $blue;

    .header__wrapper {
        padding-top: 0;
    }

    .header__logo {
        transform: scale(0.7);
    }
}

.header.hide {
    top: -100%;
}

@media (min-width: $tablet) {

    .header__navigation {
        font-size: 20px;
    }

    .header__list-item {
        margin-bottom: 50px;
    }

    .header.active .header__list-item{
        right: 79px;
    }

    .header--background {
        width: calc(100vw - 158px);
        margin: 10px 79px 0;
    }
}

@media (min-width: $desktop) {
    .header {
        position: absolute;

        &__navigation {
            font-size: 14px;
        }

        &__list {
            position: relative;
            right: auto;
            top: auto;
            display: flex;
            align-items: center;
            height: auto;
            width: auto;
            padding: 0;
        }

        &__list-item {
            right: auto;
            margin: 0 0 0 20px;
        }

        &__button {
            display: none;
        }
    }

    .header--background {
        width: 100vw;
        margin: 0;
        border-radius: none;
        background: transparent;
    
        .header__wrapper {
            padding-top: 27px;
        }
    
        .header__logo {
            transform: none;
        }
    }
}