*, 
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul, 
ol, 
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2, 
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
html,
body{
	height: 100%;
	color: #000;
	line-height: 1;
    font-family: Inter;
    font-weight: 500;
	font-size: 16px;
    line-height: 20px;
}
.button {
    font-family: Inter;
    font-weight: 500;
	font-size: 16px;
    line-height: 20px;
	color: #376FFF;
}
.title {
	font-family: Inter;
	font-size: 28px;
	font-style: normal;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 0em;
}
.title-small {
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
}
.simple-text {
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}


@import "styles/variables.scss";

@import "styles/header.scss";
@import "styles/intro.scss";
@import "styles/introduction.scss";
@import "styles/targets.scss";
@import "styles/services.scss";
