*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  color: #000;
  line-height: 1;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.button {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #376FFF;
}

.title {
  margin-bottom: 32px;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.title-small {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.simple-text {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  border-bottom: 1px solid #8B9BAB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

.menu-burger {
  position: relative;
  width: 24px;
  height: 24px;
}
.menu-burger span {
  position: absolute;
  top: 11px;
  left: 2px;
  width: 20px;
  height: 2px;
  background: #242A56;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu-burger span:nth-of-type(1) {
  top: 6px;
}
.menu-burger span:nth-of-type(3) {
  top: 16px;
}

.menu {
  position: fixed;
  top: -100%;
  z-index: 5;
  width: 100%;
  height: calc(100% - 60px);
  padding: 0 16px;
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  background: #FFFFFF;
  text-align: left;
}
.menu__links {
  margin: 40px 0;
}
.menu__link:not(:last-child) {
  margin-bottom: 32px;
}
.menu__link a {
  color: #8B9BAB;
}
.menu__buttons {
  width: 100%;
  display: inline-block;
}
.menu__btn {
  width: 100%;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 12px;
  border: 1px solid #376FFF;
  background: transparent;
}
.menu__btn-LV {
  color: #8B9BAB;
}

.menu-is-active {
  overflow: hidden;
}
.menu-is-active .menu {
  top: 60px;
  opacity: 1;
}
.menu-is-active .menu-burger span:nth-of-type(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu-is-active .menu-burger span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 11px;
}
.menu-is-active .menu-burger span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 11px;
}

@media screen and (orientation: landscape) {
  .menu {
    top: -300%;
    overflow-y: scroll;
  }
}
.intro {
  margin-top: 60px;
  background: url(../../source/img/intro/intro-bg.jpg) center/cover no-repeat;
  text-align: left;
  color: #FFFFFF;
}
.intro__wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 16px 64px 16px;
  background: rgba(36, 42, 86, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.intro__title {
  margin-bottom: 28px;
  text-align: left;
  font-size: 32px;
}
.intro__subtitle {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.introduction {
  padding: 40px 16px;
  background: url(../source/img/main_background.jpg) center/cover no-repeat;
}
.introduction__img {
  width: 100%;
  margin-bottom: 20px;
}
.introduction__title {
  margin-bottom: 20px;
}
.introduction__right-choice {
  margin-bottom: 20px;
  padding: 16px;
  border: 1px solid #C1D3DE;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fbf7f1;
}
.introduction__box-text:not(:last-child) {
  margin-bottom: 18px;
}
.introduction__text {
  font-family: Roboto;
  line-height: 26px;
}
.introduction__text:not(:last-child) {
  margin-bottom: 10px;
}

.targets {
  padding: 40px 16px;
}
.targets__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 32px;
}
.targets__icon {
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-bottom: 20px;
}
.targets__item-title {
  text-align: center;
  font-weight: 700;
}

.services {
  padding: 40px 16px;
  background: url(../source/img/main_background.jpg) center/cover no-repeat;
}
.services__title {
  color: #242A56;
}
.services__item {
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #C1D3DE;
  border-radius: 12px;
  background: #FFFFFF;
}
.services__service-name {
  margin-bottom: 8px;
}
.services__desc {
  margin-bottom: 12px;
  line-height: 26px;
}
.services__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.9fr 1fr;
  grid-template-columns: 0.9fr 1fr;
  color: #393A56;
}
.services__table-icon {
  margin-bottom: 16px;
  -ms-grid-columns: 1fr 0.9fr;
  grid-template-columns: 1fr 0.9fr;
}
.services__specs-list, .services__value-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (44px)[4];
  grid-template-rows: repeat(4, 44px);
}
.services__specs-list-icon, .services__value-list-icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (44px)[7];
  grid-template-rows: repeat(7, 44px);
}
.services__spec:nth-child(odd), .services__value:nth-child(odd) {
  border-bottom: 1px solid #C1D3DE;
  border-top: 1px solid #C1D3DE;
  background: #EDF4FA;
}
.services__spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}
.services__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 20px;
}
.services__value-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 12px;
  background: #376FFF;
  color: #FFFFFF;
}
.services__btn img {
  margin-left: 24px;
}
.services__min-budget {
  padding: 20px;
  border: 1px solid #C1D3DE;
  border-radius: 12px;
  color: #393A56;
  background: #EDF4FA;
}
.services__min-budget .info-icon {
  margin-bottom: 10px;
}

.advertising {
  padding: 40px 16px;
}
.advertising__title {
  color: #242A56;
}
.advertising__img {
  width: 100%;
  margin-bottom: 24px;
}
.advertising__item {
  color: #393A56;
}
.advertising__item:not(:last-child) {
  margin-bottom: 32px;
}
.advertising__name-item {
  margin-bottom: 16px;
}
.advertising__text {
  max-height: 140px;
  margin-bottom: 6px;
  overflow: hidden;
  -webkit-transition: all 1s ease-in 0s;
  transition: all 1s ease-in 0s;
}
.advertising__text-less {
  max-height: 118px;
}
.advertising__paragraph:not(:last-child) {
  margin-bottom: 16px;
}
.advertising__btn {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-weight: 600;
  background: transparent;
  color: #376FFF;
}

.offer {
  padding: 40px 16px;
  background: #393A56;
  color: #FFFFFF;
}

.slider__img {
  padding: 20px 0;
}
.slider__title {
  margin-bottom: 12px;
}
.slider__bottom {
  width: 100%;
  height: 40px;
  bottom: 0;
}

.slider__navigation .swiper-button-next, .slider__navigation .swiper-button-prev {
  top: 100%;
  -webkit-transform: translate(0, -45%);
          transform: translate(0, -45%);
  bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid #376FFF;
  color: #376FFF;
}
.slider__navigation .swiper-button-next::after, .slider__navigation .swiper-button-prev::after {
  font-size: 18px;
}
.slider__navigation .swiper-button-next {
  right: 0;
}
.slider__navigation .swiper-button-left {
  left: 0;
}
.slider__navigation__container {
  max-width: 80px;
  position: relative;
  margin: auto;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-wrapper {
  margin-bottom: 20px;
}

.swiper-slide {
  border-top: 2px solid #8B9BAB;
}

.stages {
  padding: 40px 16px;
  background: #fff;
  color: #393A56;
}
.stages__title {
  color: #242A56;
}

.results {
  padding: 40px 16px;
  background: url(../source/img/main_background.jpg) center/cover no-repeat;
}
.results__title {
  color: #242A56;
}
.results__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  padding-left: 56px;
  font-weight: 700;
}
.results__result:not(:last-child) {
  margin-bottom: 20px;
}
.results__result::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  left: 0;
  top: 0;
  background: url(../source/img/result/icon.svg) center/cover;
}

.clients {
  padding: 40px 16px;
}
.clients__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 71px 10px 71px 10px 71px 10px 71px 10px 71px;
  grid-template-rows: repeat(5, 71px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 32px;
}
.clients__list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.clients__list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.clients__list > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.clients__list > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.clients__list > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.clients__list > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.clients__list > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.clients__list > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.clients__list > *:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
.clients__list > *:nth-child(10) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
.clients__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #C1D3DE;
  border-radius: 12px;
}
.clients__call {
  padding: 40px 20px;
  border-radius: 12px;
  color: #FFFFFF;
  background: #376FFF;
}
.clients__agitation {
  margin-bottom: 24px;
  text-align: left;
}
.clients__just-call {
  margin-bottom: 24px;
}
.clients__phone {
  font-weight: 700;
  margin: 0;
  border-bottom: 2px solid #FFFFFF;
  border-spacing: 10px;
  text-align: left;
  color: #FFFFFF;
}

.form {
  padding: 40px 20px;
  border-radius: 12px;
  background: #376FFF;
}

.footer {
  padding: 40px 16px;
  background: url("../source/img/main_background.jpg") center/cover no-repeat;
  color: #FFFFFF;
}